$softRed: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);
$darkBrown: hsl(25, 47%, 15%);
$mediumBrown:hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$paleOrange: hsl(33, 100%, 98%);

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Space+Grotesk:wght@400;500;700&display=swap');


@mixin section-style {
    margin: 1rem 1rem;
    padding: 1.5rem 2rem;
    width: 30rem;
    border-radius: 1rem;
}

@mixin size-mobile{
    @media screen and (max-width: 425px){
        @content;
    }
}